.team .items{
    transition: 0.5s;
   
}

.dTeams{
    background-color: #f9fbfb;
}
.team .img{
    position: relative;
}

.team img{
    width: 100%;
    height: 100%;
}

.overlay{
    position:absolute;
    bottom:0;
    z-index:11;
    display: flex;
    flex-direction: column;
    padding:20px;
    transition: 0.5s;
    
}

.overlay .icon{
    margin: 5px;
}

.team .details{
    padding:30px;
    text-align: center;
}

.team .details h2{
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s;
}

.team .details p{
    font-size: 15px;
    color: grey;
    margin-top: 10px;
    transition: 0.5s;
}

.team .items:hover{
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
}

.team .items:hover p{
    color:#fff;
}

.team .items:hover .overlay{
    opacity: 1;
}

.t-btn:hover{
    background-color: #fff;
    color: #1eb2a6;
}


 /*-------------------- MEDIA QUERIES (MEDIUM DEVICES)--------*/

 @media screen and (max-width:1024px){
    .dTeams .grid4{
        display: grid;
        grid-template-columns: 2fr;
       }
}
/*-------------------- MEDIA QUERIES (SMALL DEVICES)--------*/

@media screen and (max-width:600px){
   .dTeams .grid4{
    display: grid;
    grid-template-columns: 1fr;
   }

   
}

 